.dataTables_filter {
    /*width: 200px;*/
    /*display: inline-block;*/
    float: right;
}

.btn-secondary {
    color: #fff;
    background-color: #366771;
    border-color: #366771;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #87bbc6;
    border-color: #87bbc6;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #4e5668;
    border-color: #4e5668;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #366771;
    border-color: #366771;
}

.bredvid {
    display: flex;
    align-items: center; /* Centrerar elementen vertikalt */
}

.bredvid img {
    margin-right: 10px; /* Ger lite utrymme mellan bilden och rubriken */
}
